.tab{
	-fx-background-color:  #336699;
	tab-size:100;
}

.tab-header-background{
	-fx-background-color: #333645;	
}

.fondoHeader{
	-fx-background-color: #333645;	
}

.fondoVentana{
	-fx-background-color: white;	
}

.titulos{
	-fx-font-size: 18;
	-fx-font-family: "Ebrima";	
}

.btnsFondo{
	-fx-font-size: 16;
	-fx-background-color: #33ccff;
	-fx-font-family: "Ebrima";
	-fx-text-fill: white;
}

.btns:hover, .btns:active{
	-fx-background-color: #00cccc;
}

.buscar{
	-fx-font-size: 16;
	-fx-font-family: "Calibri light";	
}