.parent{
	-fx-background-color: #0c1421;
}

.sidebar{
	-fx-background-color: #070c14;
	
}

.lblTitulo{
	-fx-background-color: #063151;
	-fx-font-size: 18;
	-fx-font-family: "Ebrima";
	-fx-text-fill: white;
}

.iconos{
	-fx-fill:#7C8184;
}

.menus{
	-fx-font-size: 16;
	-fx-font-family: "Calibri light";
	-fx-text-fill: #7C8184;
}
.btns:hover{
	-fx-background-color: #202332;
}